extends layout

block content

  section
    .container.d-none.d-sm-block
      .jumbotron.d-flex.flex-column.justify-content-center.jumbotron-about.text-white.m-1
        .container.p-5
          .col-7.definition
            h1.display-4 anthropawlogy
            h4.display-5 [ an-
              i thruh
              | -pawl-
              i uh
              | -jee ]
            p
              h5
                i (noun)
            p
              h5 To enhance the human-animal bond.
    .container.d-sm-none
      .jumbotron-about-mobile.jumbotron-mobile.text-white.py-4
        .container.py-5.px-3
          .col-11.definition
            h4 anthropawlogy
            h2.mobile-about [ an-
              i thruh
              | -pawl-
              i uh
              | -jee ]
            h2.mobile-about
              i (noun)
          .col-6.definition
            h2.mobile-about To enhance the human-animal bond.

  .container.padding.about
    .row
      .col-md-6.mb-3
        .card.bg-light
          .card-title.text-center
            .row
              .col
                img.mx-auto.rounded-circle(src='images/photos/per.jpg', height="200", width="200" alt='per')
            h4.mt-3.card-title Dr. Per Karlsson
            h5.card-subtitle.mb-2.text-muted Veterinarian
          .card-body
            p.lead.mb-4 I am from Sweden and graduated from The Royal Veterinary College (RVC) in London. I have practiced with large and small animals, trained at the Zoological Society of London, researched with the Smithsonian Institution and spent time at Cornell University focusing on wildlife and computer-aided diagnostics. I have worked worldwide on animal welfare, environmental projects, published scientific publications and presented at international conferences.
            p.lead I am passionate about learning how stress affects animals and ways we can minimize our impact. At Anthropawlogy, my focus is to deliver exceptional, mobile healthcare to companion animals without the stress of in-clinic settings. When I’m not working with animals, you can find me skiing or hiking, playing guitar, or hanging with my paralyzed cat named Odin.​
      .col-md-6
        .card.bg-light
          .card-title.text-center
            .row
              .col
                img.mx-auto.rounded-circle(src='images/photos/lex.jpg', height="200", width="200" alt='lex')

            h4.mt-3.card-title Lex Bower
            h5.card-subtitle.mb-2.text-muted Founder &amp; Veterinary Technician
          .card-body
            p.lead.mb-4 I grew up in Virginia with a love for the outdoors and all it belongs to. In 2010, I began working in veterinary hospitals while also receiving my Bachelor’s degree in Biology from VCU. I have worked with pets recovering from anxiety and post-traumatic stress using fear-free methods. I have extensive training with cold-laser therapy and experience with the benefits of integrative veterinary medicine including nutrition, rehabilitation and acupuncture. I have volunteered with wildlife conservation and animal welfare groups and all of this has inspired Anthropawlogy.
            p.lead As a technician specializing in home-care, I greatly value the importance of low-stress veterinary care for pets and their people. When not caring for animals, you might find me kayaking, practicing yoga, or playing an instrument!