block footer
  footer.footer.pt-4.pt-md-5.text-light
    .container.px-5
      .row
        .col-md-3.mb-3
          h5 Hours
          section.d-flex.flex-row.mt-3.hours
            .item
              ul.list-unstyled.text-small.mb-1
                li.mb-1 Mon
                li.mb-1 Tue
                li.mb-1 Wed
                li.mb-1 Thu
                li Fri
            .divider.p-2.ml-3.border-left
            .item.text-muted
              ul.list-unstyled.text-small.text-left.mb-1
                li.mb-1 9-5
                li.mb-1 Closed
                li.mb-1 3-5
                li.mb-1 9-5
                li 3-5
        .col-md
          h5 Services
          ul.list-unstyled.text-small
            li
              a.text-muted(href='/homecare') Home care
            li
              a.text-muted(href='/hospice') Hospice
            li
              a.text-muted(href='/services') Services
            li
              a.text-muted(href='/booking') Book now
        .col-md
          h5 More
          ul.list-unstyled.text-small
            li
              a.text-muted(href='/about') About us
            li
              a.text-muted(href='mailto:info@anthropawlogyvet.com') Email us
        .col-md
          h5 Social
          ul.list-unstyled.text-small
            li
              i.fab.fa-facebook
              a.text-muted(href='http://fb.com/anthropawlogyvet#') Facebook
            li
              i.fab.fa-instagram
              a.text-muted(href='https://www.instagram.com/anthropawlogyvet/') Instagram
        .col-md
          h5 We offer
          ul.list-unstyled.text-small.mt-3
            li.mb-1.text-muted Lightweight, compassionate veterinary care in the comfort of your home.
            .d-md-none
              br
              img(src="/images/brand/logo/atplgy-full-logo-white.svg", width="150", height="150", alt="full-logo")
            br
            li.mb-1.text-muted Missoula, MT
            li.mb-1.text-muted 406-624-9060

    .socket
      .text-center.p-2.text-muted
          small &copy; Anthropawlogy Veterinary Care, PLLC