extends layout

block content
  section
    .container.d-none.d-sm-block
      .jumbotron.d-flex.flex-column.justify-content-center.jumbotron-pricing
        .container.p-5
          .col-6
            h2.display-5
              | Clear, honest pricing
              br.d-none.d-lg-block
              |  so you can focus on your pet.
            h4.mt-3 Home visits for $200
            p.mt-5
              a.btn.btn-success.btn-lg(href='/booking', role='button') Book a visit
    .container.d-sm-none
      .jumbotron-pricing.jumbotron-mobile
        .container.py-5.px-3
          .col-6
            h2.mobile Clear, honest pricing so you can focus on your pet.
            h4.mobile-sub.mt-3 Home visits for $110
            p.mt-3
              a.btn.btn-success.btn-sm(href='/booking', role='button') Book a visit

  //- cards for pricing
  .container-fluid.padding.overlap.pricing
    .row.padding.cards.justify-content-around
        .col-md-6
          .card.text-center
            .card-body.m-5
              h4.card-title Wellness
              i.fas.fa-stethoscope
              p.my-3 Physical Exams, Nutritional and Behavioral Counsel, Home-Treatments, and more.
              a.btn.btn-outline-secondary(href="/homecare") Learn more
            .card-footer.bg-info(style="cursor:pointer")
              a.btn.btn-info.btn-block.btn-lg.collapsed(data-toggle='collapse', data-target='#wellness-services')
                | Services
                i.fas.fa-arrow-down.mx-2
              #wellness-services.container-fluid.padding.collapse
                .row
                  ul.my-3.list-unstyled.fa-ul.text-left
                    li
                      a.collapsed(data-toggle='collapse', data-target='#wellness-exam')
                        i.fa-li.fas
                        strong $200
                        |  Wellness Exam
                    #wellness-exam.collapse.desc
                      .col-12
                        p Stress less! We are happy to come to you and provide in-home veterinary care at your pet's pace! This includes a consultation and physical exam for your pet.
                    li
                      a.collapsed(data-toggle='collapse', data-target='#additional-pet')
                        i.fa-li.fas
                        strong $180
                        |  Additional Pet Exam
                    #additional-pet.collapse.desc
                      .col-12
                        p Have more than one pet that needs to be looked at? We offer discounted exams for using the buddy-system!
                    li
                      a.collapsed(data-toggle='collapse', data-target='#follow-up-exam')
                        i.fa-li.fas.fa-plus-circle
                        strong $180
                        |  Follow-up Exam
                    #follow-up-exam.collapse.desc
                      .col-12
                        p This includes a recheck for an existing issue.
                    //- li
                    //-   a.collapsed(data-toggle='collapse', data-target='#vaccine')
                    //-     i.fa-li.fas.fa-plus-circle
                    //-     strong $30
                    //-     |  Vaccine
                    //- #vaccine.collapse.desc
                    //-   .col-12
                    //-     p Is your pet due for a vaccine? We're happy to bring them up to date and keep your pet protected from various diseases!
                    //- li
                    //-   a.collapsed(data-toggle='collapse', data-target='#booster-vaccine')
                    //-     i.fa-li.fas.fa-plus-circle
                    //-     strong $10
                    //-     |  Booster Vaccine
                    //- #booster-vaccine.collapse.desc
                    //-   .col-12
                    //-     p This includes booster vaccinations.
                    //- li
                    //-   a.collapsed(data-toggle='collapse', data-target='#individual-test')
                    //-     i.fa-li.fas.fa-plus-circle
                    //-     strong $50-200
                    //-     |  Individual Test
                    //- #individual-test.collapse.desc
                    //-   .col-12
                    //-     p If your pet may require some extra attention, we offer blood tests, specific tests for intestinal parasites, ear and skin cytology, or urinalysis.
                    li
                      a.collapsed(data-toggle='collapse', data-target='#medications')
                        i.fa-li.fas.fa-plus-circle
                        strong $20+
                        |  Medications
                    #medications.collapse.desc
                      .col-12
                        p Your pet may need medications to get through a certain time, and we are happy to help. This includes medications for up to 10 days. Medications vary based on the product and the pet's weight.
        .col-md-6
          .card.text-center
            .card-body.m-5
              h4.card-title End of Life
              i.fas.fa-paw
              p.my-3 Hospice care, Quality of Life Assessment, Home Euthanasia and Cremation Services.
              a.btn.btn-outline-secondary(href="/hospice") Learn more
              //- hidden pricing section
            .card-footer.bg-info(style="cursor:pointer")
              a.btn.btn-info.btn-block.btn-lg.collapsed(data-toggle='collapse', data-target='#hospice-services')
                | Services
                i.fas.fa-arrow-down.mx-2
              #hospice-services.container-fluid.padding.collapse
                .row
                  ul.my-3.list-unstyled.fa-ul.text-left
                    li
                      a.collapsed(data-toggle='collapse', data-target='#qoa-assessment')
                        i.fa-li.fas
                        strong $400
                        |  Hospice Care
                    #qoa-assessment.collapse.desc
                      .col-12
                        //- p When getting older has gotten hard, we work closely with you to manage end of life care to keep your pet as comfortable as possible.
                        p When getting older has gotten harder for your pet, we work closely with you to keep them as comfortable as possible. This includes a quality of life assessment and tailored treatment plan so you feel empowered to care for and monitor your pet's condition.
                    li
                      a.collapsed(data-toggle='collapse', data-target='#feline-euthanasia')
                        i.fa-li.fas
                        strong $400
                        |  Feline Home Euthanasia
                    #feline-euthanasia.collapse.desc
                      .col-12
                        p Saying goodbye is never easy. We can help you know when it's time. We offer end of life services in the comfort of your own home.
                    li
                      a.collapsed(data-toggle='collapse', data-target='#canine-euthanasia')
                        i.fa-li.fas.fa-plus-circle
                        strong $600
                        |  Canine Home Euthanasia
                    #canine-euthanasia.collapse.desc
                      .col-12
                        p Saying goodbye is never easy. We can help you know when it's time. We offer end of life services in the comfort of your own home.
                    li
                      a.collapsed(data-toggle='collapse', data-target='#private-cremation')
                        i.fa-li.fas.fa-plus-circle
                        strong $200
                        |  Private Cremation
                    #private-cremation.collapse.desc
                      .col-12
                        p This includes private cremation with ashes returned in wooden urn within 2 weeks.

  //- Questions section
  .container-fluid.mb-5.questions.bg-light
    .container.pt-5.padding
      .row.text-center
        .col
          h3 Still have questions?
    .container.pb-5.qa-items
      .row
        .col
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-loc')
                  h4 Where are you located?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-loc.collapse.ml-3
                p.lead.text-muted We are a mobile practice, which means we do not have brick-mortar clinic. Instead, we come to you.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light.border-0(data-toggle='collapse', data-target='#faq-contact')
                  h4 How can we contact you?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-contact.collapse.ml-3
                p.lead.text-muted
                  | By phone,
                  a.text-muted(href='mailto:vet@anthropawlogy.com') email
                  | , or book on the website. You may notice you are forwarded to a voicemail system when you call our office. We are a small operation without a receptionist, meaning a trained veterinary technician will call you back ASAP within our office hours. We prioritize our clients during their appointment and during phone calls, so you won’t experience any interruptions either.
                  strong.font-italic  If you are experiencing an emergency after-hours, please call a local veterinary emergency center in the area.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-areas')
                  h4 What areas do you service?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-areas.collapse.ml-3
                p.lead.text-muted We are currently operating in Seattle, WA and surrounding areas.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-species')
                  h4 What species do you care for?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-species.collapse.ml-3
                p.lead.text-muted Mostly dogs and cats, but we are happy to help any pet that may benefit from our services. We are not currently offering large-animal services.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-cancel')
                  h4 How do I cancel my appointment?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-cancel.collapse.ml-3
                p.lead.text-muted Get in contact with us at your earliest convenience so that we may schedule to help another furry friend in need.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-payment')
                  h4 What sort of payments do you accept?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-payment.collapse.ml-3
                p.lead.text-muted Any major credit or debit card, check or cash.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-onpay')
                  h4 Do we pay before or after appointment?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-onpay.collapse.ml-3
                p.lead.text-muted For euthanasia appointments, some people prefer to pay before the procedure. Otherwise, payment is requested after services are performed.
          .card.border-0.bg-transparent
            .card-body.qa-footer
              a.collapsed.btn.btn-light(data-toggle='collapse', data-target='#faq-sx')
                  h4 Are you able to do x-rays, surgery, or dentals?
                  i.fas.fa-plus-circle.d-none.d-md-block
              #faq-sx.collapse.ml-3
                p.lead.text-muted We do not have that sort of capability currently, but we work closely with clinics in town to accommodate services your pet may need.
