// $black: #303030;
// $width: 800px;
// $purple: #262161;
// $yellow: #FFC40E;
// $pink: #EE7297;
// $green: #93FF00;
// $red: #E50714;
// $grey: lighten(grey, 40%);
// $shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
// $grad: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, $yellow 85%, #48ded4 95%);
// $verticalGrad: linear-gradient(0, #48ded4 0%, #a026bf 20%, #e82c75 60%, $yellow 85%, #48ded4 95%);
// $green: #79908A;
// $pink: #FAE4D9;
// $smoke: #F5F5F5;
// Buttons booking - #79908A // Mummy
// Toolbar, bottom - #79908A // Mummy
// Services, bg - #FAE4D9 // Mocassin
// Services, text - #222 // dark grey
// Background, general - #F5F5F5 // smoke white
$lightpink: #FCDFCB; // #FAE4D9;
$darkpink: #FCDFCB; //#F6CCB7; //#FAE4D9; //#D1E3F2; // #96B6D5; //#B7CFE8; // #AA5C15; // #7B5430; // #FFE055;
$green: #79908A; // #0D6131;
$gray: #555;
$pastelblue: #8FB5B6;